<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".debug.PrototypePreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.CalcMot">
            <intent-filter>
                <action android:name="br.com.calcmot.DEBUG_PROTOTYPE_PREVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".debug.UiAutomatorProbeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.calcmot.DEBUG_UIAUTOMATOR_PROBE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".debug.UiAutomatorOfferReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.calcmot.DEBUG_UIAUTOMATOR_OFFER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".debug.LatencyVisualProbeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.calcmot.DEBUG_LATENCY_VISUAL_PROBE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
